@using Resources
@model PagedList<Web.Areas.Platform.Models.TaskCenterListModel>
@using BootstrapSupport
@using Common
@using Microsoft.AspNet.Identity
@using Web.Helpers

<div class="content-heading">
    <div class="row">
        <div class="col-xs-6">
            @if (Model.VisibleProperties().Any(a => a.Name == "Id") && Html.CheckControllerAction("Create"))
            {
                @Html.Partial("Button_Create", new { })
            }

            @if (Html.CheckControllerAction("Import"))
            {
                @Html.Partial("Button_Import", new { })
            }

            @if (Html.CheckControllerAction("Report"))
            {
                @Html.Partial("Button_Export", new { report = true, ordering = Request["ordering"], keyword = Request["keyword"] })
            }
        </div>

        <div class="col-xs-6">
            @Html.Partial("Search_Input")
        </div>
    </div>
</div>

<div class="panel panel-default">
    @Html.Partial("_alerts")

    <div class="panel-body">

        @{
            int i = 0;
        }

        @foreach (var item in Model)
        {
            <div style="float: left;width: 100px;text-align: right;padding:0 10px;">
                @if (string.IsNullOrEmpty(item.ActualEndTime))
                {
                    <h3>
                        @{
                            i++;
                            @i
                        }
                    </h3>
                            }


                @if (!string.IsNullOrEmpty(item.ScheduleEndTime) && string.IsNullOrEmpty(item.ActualEndTime))
                {
                    <div>剩余@((DateTime.Parse(item.ScheduleEndTime) - DateTime.Parse(DateTimeLocal.Now)).TotalDays.ToString("F1"))天</div>
                }


            </div>

            <blockquote style="padding: 5px 10px; margin-left: 100px;  font-size: inherit; " onmouseover="this.style.backgroundColor='#F4F9FD'" onmouseout="this.style.backgroundColor=''">
                <div class="pull-right">
                    @if (string.IsNullOrEmpty(item.ActualEndTime))
                    {
                        <span>

                            @if (item.CreatedBy == User.Identity.GetUserId() && Html.CheckControllerAction("Edit"))
                            {
                                @Ajax.ActionLink(Lang.Edit, "Edit", null, new { item.Id }, new AjaxOptions { UpdateTargetId = "Main" }, new { @class = "btn btn-info" })
                            }

                            @if (item.CreatedBy == User.Identity.GetUserId() && Html.CheckControllerAction("Delete"))
                            {
                                @Ajax.ActionLink(Lang.Delete, "Delete", null, new { item.Id }, new AjaxOptions { UpdateTargetId = "Main", HttpMethod = "Delete", Confirm = "您确定要删除该记录吗？该操作不可恢复！" }, new { @class = "btn btn-danger" })
                            }

                            @if (item.TaskExecutorId == User.Identity.GetUserId())
                            {
                                @Ajax.ActionLink(Lang.Finished, "Edit", null, new { item.Id, Finished = true }, new AjaxOptions { UpdateTargetId = "Main", Confirm = "完成？" }, new { @class = "btn btn-success" })
                            }

                        </span>
                    }
                    else
                    {
                        <span></span>
                    }
                </div>

                <h4>

                    @if (string.IsNullOrEmpty(item.ActualEndTime))
                    {
                        <i class="fa fa-square-o fa-fw"></i>
                    }
                    else
                    {
                        <i class="fa fa-check-square-o fa-fw"></i>
                    }

                    @Html.DisplayFor(a => item.Title)

                    [@item.TaskType]
                </h4>
                <small style="padding: 0 30px;">

                    @if (!string.IsNullOrEmpty(item.ScheduleEndTime))
                    {
                        <span>截止时间：@Html.DisplayFor(a => item.ScheduleEndTime)</span>

                    }

                    @if (!string.IsNullOrEmpty(item.ActualEndTime))
                    {
                        <span>完成时间：@Html.DisplayFor(a => item.ActualEndTime)</span>

                    }
                    <span>
                        发布人：@Html.DisplayFor(a => item.UserName)
                    </span>

                    <span>
                        负责人：@Html.DisplayFor(a => item.TaskExecutor)
                    </span>
                </small>

                @if (!string.IsNullOrEmpty(item.Content))
                {
                    <blockquote style="font-size: inherit;padding:5px 16px; margin-bottom: 5px;margin-left: 9px;">
                        @Html.DisplayFor(a => item.Content)
                    </blockquote>
                }

                @if (!string.IsNullOrEmpty(item.Files))
                {
                    <blockquote style="font-size: inherit;padding: 5px 0; margin-bottom: 5px; margin-left:9px;">
                        @Html.DisplayFor(a => item.Files)
                    </blockquote>
                }
                <div class="clearfix"></div>

            </blockquote>
                            }
        @Html.Raw(Ajax.MikePager((int)Model.GetType().GetProperty("PageIndex").GetValue(Model, null), (int)Model.GetType().GetProperty("PageSize").GetValue(Model, null), (int)Model.GetType().GetProperty("TotalCount").GetValue(Model, null)))
    </div>
</div>
