@using System.Linq.Dynamic.Core
@using System.Reflection
@using Resources
@model dynamic
@using BootstrapSupport
@using Web.Helpers
@{
    var routevalues = Request.ToRouteValueDictionary();

}
@if (!Request.IsAjaxRequest())
{
    Response.Redirect("/");
}
<div class="content-heading">
    <div class="row">
        <div class="col-xs-6">
            @{
                PropertyInfo[] properties = Model.GetType().GetGenericArguments()[0].GetProperties();
            }

            @if (properties.Any(a => a.Name == "Id"))
            {
                @Html.Partial("Button_Create", new { })
            }

            @if (Html.CheckControllerAction("Import"))
            {
                @Html.Partial("Button_Import", new { })
            }

            @if (Html.CheckControllerAction("Index"))
            {
                @Html.Partial("Button_Export", new { })
            }
        </div>
        <div class="col-xs-6">
            @Html.Partial("Search_Input", properties)
        </div>
    </div>
</div>
<div class="panel panel-default">
    @Html.Partial("_alerts")
    <div class="panel-body">
        <!-- START table-responsive-->
        <div class="table-responsive">
            <table class="table table-striped table-hover  table-condensed">
                <thead>
                    <tr>
                        @foreach (var title in properties)
                        {
                            if (title.Name == "Id")
                            {
                                <th class="text-center" nowrap>@Lang.Edit</th>
                            }
                            else
                            {

                                if (routevalues.Keys.Contains("ordering"))
                                {
                                    routevalues.Remove("ordering");
                                }
                                <th nowrap>
                                    @if (Request["ordering"] == title.Name)
                                    {
                                        routevalues["ordering"] = title.Name + " desc";

                                        <a href='#@Url.Action("", routevalues)'> @title.GetLabel().ToSeparatedWords() ↓</a>

                                    }
                                    else if (Request["ordering"] == title.Name + " desc")
                                    {
                                        routevalues["ordering"] = title.Name;

                                        <a href='#@Url.Action("", routevalues)'> @title.GetLabel().ToSeparatedWords() ↑</a>
                                    }
                                    else
                                    {
                                        routevalues["ordering"] = title.Name;

                                        <a href='#@Url.Action("", routevalues)'>
                                            @title.GetLabel().ToSeparatedWords()
                                        </a>
                                    }
                                </th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GetType().GetProperties()[0].GetValue(Model, null))
                    {
                        ViewData["DataList"] = item;
                    
                        <tr>
                            @foreach (var title in properties)
                            {

                                if (title.Name == "Id")
                                {
                                    <td class="text-center" nowrap>
                                        @Html.Partial("Ajax_Edit_Verify", Html.Display("DataList.Id"))
                                    </td>
                                }
                                else
                                {
                                    <td nowrap="nowrap" style="max-width: 500px; text-overflow: ellipsis; overflow: hidden">
                                        @Html.Display("DataList." + title.Name)
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
            @Html.Raw(Ajax.MikePager(Model as PagedResult))
        </div>
    </div>
</div>
