@using BootstrapSupport
@using Resources
@model System.Collections.IEnumerable

@using (Ajax.BeginForm(null, new RouteValueDictionary(), new AjaxOptions { UpdateTargetId = "Main", HttpMethod = "Get" }))
{
    <div class="input-group">
        @Html.TextBox("keyword", null, new { @class = "form-control ", placeholder = Lang.keyword })
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> @Lang.Search</button>
            <a data-toggle="collapse" href="#Search_input" class="btn btn-primary">高级搜索</a>
        </span>
    </div>
}

<div id="Search_input" class="collapse well" style="margin-top:5px; margin-left:-400px; position: absolute; z-index: 10000">
    @using (Ajax.BeginForm(string.Empty, new RouteValueDictionary(), new AjaxOptions() { UpdateTargetId = "Main", HttpMethod = "Get" }))
    {
        <div class="form-inline" style="font-size:small">
            <div class="row">
                @foreach (var title in Model.VisibleProperties().Where(a=>a.PropertyType == typeof(string) || a.PropertyType.IsValueType))
                {
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 text-right">
                                <label style="padding-top: 8px;">
                                    @title.GetLabel().ToSeparatedWords()
                                </label>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                @{
                                    var type = title.PropertyType;

                                    if (type.IsGenericType && type.GetGenericTypeDefinition() == typeof(Nullable<>))
                                    {
                                        type = type.GetGenericArguments()[0];
                                    }
                                }


                                @Html.Partial("Search_Input_" + type, new ViewDataDictionary() { new KeyValuePair<string, object>("Name", title.Name) })

                            </div>
                        </div>
                    </div>
                                    }
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-info" name="Search" value="true"> <i class="fa fa-search"></i>  @Lang.Search</button>
            </div>
        </div>
                                    }
</div>
