<div class="input-group">
    <span class="input-group-btn">

        <select name="@(ViewBag.Name)_method" class="form-control">
            <option value="==" @(Request.QueryString[ViewBag.Name + "_method"] == "==" ? "selected" : "")>等于</option>
            <option value=">" @(Request.QueryString[ViewBag.Name + "_method"] == ">" ? "selected" : "")>大于</option>
            <option value="<" @(Request.QueryString[ViewBag.Name + "_method"] == "<" ? "selected" : "")>小于</option>
            <option value=">=" @(Request.QueryString[ViewBag.Name + "_method"] == ">=" ? "selected" : "")>大于等于</option>
            <option value="<=" @(Request.QueryString[ViewBag.Name + "_method"] == "<=" ? "selected" : "")>小于等于</option>
        </select>
    </span>

    <input name="@ViewBag.Name" type="text" class="form-control" placeholder="0" value="@(Request.QueryString[ViewBag.Name])" />
</div>