@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="renderer" content="webkit">
    <meta name="description" content="@ConfigurationManager.AppSettings["SystemName"]">
    <meta name="keywords" content="@ConfigurationManager.AppSettings["SystemName"]">
    <title>@ViewBag.Title @ConfigurationManager.AppSettings["SystemName"]</title>
    
    @Styles.Render("~/bundles/site")

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", false)
    }

    <!--[if lt IE 9]>
        <script type="text/javascript" src="/Scripts/html5shiv.js"></script>
        <script type="text/javascript" src="/Scripts/respond.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/script")
    @Scripts.Render("~/bundles/Angle")
    @RenderSection("Scripts", false)
</head>
<body>
    @RenderBody()
</body>
</html>